language: go
go:
- '1.8.x'
dist: trusty
sudo: false
addons:
  apt:
    sources:
    - sourceline: ppa:masterminds/glide
    packages:
    - glide
install:
- glide install --force
- rm -fr vendor/github.com/Sirupsen
- find vendor -type f -exec sed -i 's/Sirupsen/sirupsen/g' {} +
- go get github.com/mjibson/esc
- go get github.com/ahmetb/govvv
- go get github.com/franciscocpg/gox
- go get github.com/sanbornm/go-selfupdate
script:
- cd ${TRAVIS_BUILD_DIR}/cmd && go generate && cd ${TRAVIS_BUILD_DIR}
- VERSION=$(cat ./VERSION)
- echo "VERSION = ${VERSION}"
- DIST=${TRAVIS_BUILD_DIR}/dist/rai-keygen/stable
- CGO_ENABLED=0 gox -verbose  -os="linux darwin windows" -arch="amd64 386 armv5 armv6
  armv7 arm64" -osarch="!darwin/arm64 linux/ppc64 linux/ppc64le" -ldflags="$(govvv
  -flags) -s -w -X main.AppSecret=${APP_SECRET}
  -extldflags \"-static\"" -output="${DIST}/${VERSION}/{{.OS}}-{{.Arch}}/{{.Dir}}"
  .
before_deploy:
- echo "go-selfupdate generating bindiffs"
- mkdir -p ${DIST}/${VERSION}/binaries
- mkdir -p ${DIST}/latest
- tar --transform 's/.*\///g' -czvf ${DIST}/${VERSION}/binaries/darwin-386     ${DIST}/${VERSION}/darwin-386/rai-keygen        ${TRAVIS_BUILD_DIR}/LICENSE.TXT
  ${TRAVIS_BUILD_DIR}/VERSION
- tar --transform 's/.*\///g' -czvf ${DIST}/${VERSION}/binaries/darwin-amd64   ${DIST}/${VERSION}/darwin-amd64/rai-keygen      ${TRAVIS_BUILD_DIR}/LICENSE.TXT
  ${TRAVIS_BUILD_DIR}/VERSION
- tar --transform 's/.*\///g' -czvf ${DIST}/${VERSION}/binaries/linux-386      ${DIST}/${VERSION}/linux-386/rai-keygen         ${TRAVIS_BUILD_DIR}/LICENSE.TXT
  ${TRAVIS_BUILD_DIR}/VERSION
- tar --transform 's/.*\///g' -czvf ${DIST}/${VERSION}/binaries/linux-amd64    ${DIST}/${VERSION}/linux-amd64/rai-keygen       ${TRAVIS_BUILD_DIR}/LICENSE.TXT
  ${TRAVIS_BUILD_DIR}/VERSION
- tar --transform 's/.*\///g' -czvf ${DIST}/${VERSION}/binaries/linux-armv5    ${DIST}/${VERSION}/linux-armv5/rai-keygen       ${TRAVIS_BUILD_DIR}/LICENSE.TXT
  ${TRAVIS_BUILD_DIR}/VERSION
- tar --transform 's/.*\///g' -czvf ${DIST}/${VERSION}/binaries/linux-armv6    ${DIST}/${VERSION}/linux-armv6/rai-keygen       ${TRAVIS_BUILD_DIR}/LICENSE.TXT
  ${TRAVIS_BUILD_DIR}/VERSION
- tar --transform 's/.*\///g' -czvf ${DIST}/${VERSION}/binaries/linux-armv7    ${DIST}/${VERSION}/linux-armv7/rai-keygen       ${TRAVIS_BUILD_DIR}/LICENSE.TXT
  ${TRAVIS_BUILD_DIR}/VERSION
- tar --transform 's/.*\///g' -czvf ${DIST}/${VERSION}/binaries/linux-arm64    ${DIST}/${VERSION}/linux-arm64/rai-keygen       ${TRAVIS_BUILD_DIR}/LICENSE.TXT
  ${TRAVIS_BUILD_DIR}/VERSION
- tar --transform 's/.*\///g' -czvf ${DIST}/${VERSION}/binaries/linux-ppc64    ${DIST}/${VERSION}/linux-ppc64/rai-keygen       ${TRAVIS_BUILD_DIR}/LICENSE.TXT
  ${TRAVIS_BUILD_DIR}/VERSION
- tar --transform 's/.*\///g' -czvf ${DIST}/${VERSION}/binaries/linux-ppc64le  ${DIST}/${VERSION}/linux-ppc64le/rai-keygen     ${TRAVIS_BUILD_DIR}/LICENSE.TXT
  ${TRAVIS_BUILD_DIR}/VERSION
- tar --transform 's/.*\///g' -czvf ${DIST}/${VERSION}/binaries/windows-386    ${DIST}/${VERSION}/windows-386/rai-keygen.exe   ${TRAVIS_BUILD_DIR}/LICENSE.TXT
  ${TRAVIS_BUILD_DIR}/VERSION
- tar --transform 's/.*\///g' -czvf ${DIST}/${VERSION}/binaries/windows-amd64  ${DIST}/${VERSION}/windows-amd64/rai-keygen.exe
  ${TRAVIS_BUILD_DIR}/LICENSE.TXT ${TRAVIS_BUILD_DIR}/VERSION
- go-selfupdate -o ${DIST}/updates ${DIST}/${VERSION}/binaries/ ${VERSION}
- cp ${DIST}/${VERSION}/binaries/darwin-386    ${DIST}/latest/darwin-386.tar.gz
- cp ${DIST}/${VERSION}/binaries/darwin-amd64  ${DIST}/latest/darwin-amd64.tar.gz
- cp ${DIST}/${VERSION}/binaries/linux-386     ${DIST}/latest/linux-386.tar.gz
- cp ${DIST}/${VERSION}/binaries/linux-amd64   ${DIST}/latest/linux-amd64.tar.gz
- cp ${DIST}/${VERSION}/binaries/linux-armv5   ${DIST}/latest/linux-armv5.tar.gz
- cp ${DIST}/${VERSION}/binaries/linux-armv6   ${DIST}/latest/linux-armv6.tar.gz
- cp ${DIST}/${VERSION}/binaries/linux-armv7   ${DIST}/latest/linux-armv7.tar.gz
- cp ${DIST}/${VERSION}/binaries/linux-arm64   ${DIST}/latest/linux-arm64.tar.gz
- cp ${DIST}/${VERSION}/binaries/linux-ppc64   ${DIST}/latest/linux-ppc64.tar.gz
- cp ${DIST}/${VERSION}/binaries/linux-ppc64le ${DIST}/latest/linux-ppc64le.tar.gz
- cp ${DIST}/${VERSION}/binaries/windows-386   ${DIST}/latest/windows-386.tar.gz
- cp ${DIST}/${VERSION}/binaries/windows-amd64 ${DIST}/latest/windows-amd64.tar.gz
- rm -fr ${DIST}/${VERSION}/binaries
- echo "Copying latest directory to ${DIST}/${TRAVIS_COMMIT}"
- cp -r ${DIST}/latest ${DIST}/${TRAVIS_COMMIT}
deploy:
  provider: s3
  access_key_id: AKIAIAFSJLCCOYB5V3EQ
  secret_access_key:
    secure: Atz9WGVPBu7pyIE/Lc/tfri5oVMy+cOLtzopog3VFAViBbDBse4pxi6MNEzQqRBk7vTBPMmDqkIOftz+ml/B4GP5EN2G4hJBFTNdvzURDfYvdUGKZHQJztc5RWuF1su5EVOUm/r9y8Yb39j+7Qv4hHOfQtfot3bjyscZtUGDwOnxcTB0kevits5xzaOOqX+n5YY73I8xC/NedoYfHNjEMmCxAujPOQLmn/etlxt8sGROFDHRxGgUhRIggb2O7DjzJNtcO/33seg2YoYq3u5H9rw/IE6HHBxlqw0JsH9qoiHMGqNmllRPllSdZSXMupBBuPhn9f8sd2BKJZIuCMdNvItjvZAKsfZsVHpWL6+S4xgmA2P3sYSE9e9Skos8xjB/np9X/b3oSkK4d2TUjMStkqvH8wJ+PYiDeU4IJf+NbtJ7fLRYK9u5cCRJC3ng9iTEMfFEgO2FBahBkohyB9JuMDsKeQrlJH+xXP4zS7w+B1uLiX+286nOYUu3aNCuapPFKWlBb8soGivaUakYafxT4mJ0ihS9LSdwtD2Mgbbij+TC4Z/n+OFJ7SAed1nF5XyTJuLWcp4thoeGEbq9pULkFX9PMoobqzFZZuL+bL9EHkhYx6dY8ze+Q6y0ROjY3R884BY/MgM8nm7nsE66uP5p0TLOuANMQRZo+iVH9kQgGqI=
  bucket: files.rai-project.com
  local-dir: dist
  upload-dir: dist
  acl: private
  skip_cleanup: true
  detect_encoding: true
  on:
    repo: rai-project/rai-keygen
env:
  global:
    secure: Dm8M/1ldHrcBCHli9XzzpMLQbfMYqt6Qtk61tD+ZcfzErmU+bLhRUOAP/pR1VZ9Lii7fn4GAq96cbwp05IGgx0lYJdZEsAVVVBrdxChK2Nh5EC1j4eMhrqpuKI3BMdIqragroqc3MTESM6xz+wWcyKh5EnhSgP6OYvxg6wFLl+bXP4hhaqeyMV43XKQ2elYtz3N96Cu+Fgkmaasyty4lo2fZx6urP1hUHCEnwL+a11M4yASyPUuw2OwMQJ2GNWCtycB+t9CSZqVLmtSn7Izl/7fAdexYhfinXDUHcx3kgDrlPrG0orXWIhy3VRWhhMrXGzdHu/8Xn96B6Esk2omkLuzJxsQ/e0fOMOrdtpXzohFcOdkJWwqvy8WZK0XbWzPOVMWu8+biS/qh3wUU/Nn3kbqLccVyW1eVZ1Z4WAeu8JQBuaC0pR2MgHg41N10xn9TvbVD1a2/4dZanfwdgw4rsc+EfZdubv085LgkZ28GKTlNClzHjpJLmcvk5JBAF/IWdEhuE5oJQxQrQ5WWI0DRbavGtsNyRXlpOZQA+E+ARTioCeFsFFCZCGsohHd/GgPcM2HM39XUkFUXQ/8eFuuB7zDOaVnnuPQq1Wy1vrP0+g2KTXaX+f9eUcgMiYfu6Ac2CwgPc9yVxq/IalNk2CHOujeJUeQGKcxNy4Qq9bM4oQU=
